@charset "EUC-KR";

form{
	background-color: #ffffcc;
	width : 500px;
	padding: 2rem;
	
}
table{
	text-align: center;
}


nav ul {
	display: flex;
	justify-content: center;
	gap: 10px;
}
nav ul li{
	border: 1px solid black;
	padding:3px;
}