@charset "EUC-KR";

body {
	background-color: #ffffcc;
}

h2 {
	text-align: center;
}

hr {
	margin-bottom: 1rem;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 2rem;
}

th, td {
	padding: 6px 15px;
	text-align: center;
}

th {
	background: #42444e;
	color: #fff;
}

tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

td {
	border-right: 1px solid #c6c9cc;
	border-bottom: 1px solid #c6c9cc;
}

td:first-child {
	border-left: 1px solid #c6c9cc;
}

tr:nth-child(even) td {
	background: #eaeaed;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}