@import
	url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap")
	;

@import
	url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap")
	;

@import "todo.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}

li{
	list-style: none;
}


a {
	color: white;
}

body {
	position: relative;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Nanum Gothic", sans-serif;
}